*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background: rgba(229, 194, 164, 0.58)
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background: rgba(178, 119, 61, 0.58);
    border-bottom: 2px solid;
    /*min-height: 85px;*/
}

.header__content{
    display: flex;
    align-content: center;
}

.header__logo{
    margin-left: 20px;
    width: 12%;
}

.header__logo img{
    width: 100%;
    height: 100%;
}

.header__name-and-tagline{
    margin-left: 2%;
}

.header__name{
    /*font-size: 16px; !*10*!*/
    font-size: calc(10px + 6 * (100vw / 1775));
}

.header__tagline{
    color:#732b2b;
    /*font-size: 16px; !*12*!*/
    font-size: calc(12px + 4 * (100vw / 1775));
}

.header__links{
    color:#732b2b;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.header__links a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.header__link{
}

.header__link:hover{
    text-decoration: underline;
}

.header__menu{
    display: none;
}

.header__menu-line{
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
}

@media all and (max-width: 1082px) {
    .header__menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 26px;
        top: 26px;
    }
    .header{
        flex-direction: column;
    }
    .header__content{
        /*width: 100%;*/
        /*justify-content: left;*/
    }
    .header__link{
        border-top: solid 2px rgb(38, 36, 36);
        padding: 10px;
    }
    .header__links{
        width: 100%;
        text-align: center;
        display: none;
    }
    .header__links a{
        font-size: 18px;
    }
    .header__link:last-child{
        padding-bottom: 0;
    }
    .active{
        display: block;
    }
}

.main{
    display: flex;
    margin-top: 1%;
}

.main__photo-and-description{
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
}

@media all and (max-width: 750px) {
    .main{
        flex-direction: column-reverse;
    }
    .main__photo-and-description{
        width: 100%;
        margin: 0;
    }
}

.main__photo{
    width: 350px;
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Установите размер стекла лупы:*/
    width: 75px;
    height: 75px;
}

@media all and (max-width: 750px) {
    .main__photo{
        width: 45vw;
        margin-top: 10%;
    }
}

.main__photo img{
    width: 100%;
}

.main__description{
    margin-top: 5%;
    margin-bottom: 2%;
    color: #000000;
    text-align: center;
    flex-direction: column;
    display: flex;
    display: inline-block;
    position: relative;
}

@media all and (max-width: 750px) {
    .main__description{
        padding: 2%;
        margin: 0;
    }
}

.main__poem-and-name{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.main__poem-name{
    display: inline-block;
    position: relative;
}

.main__poem{
    margin-top: 3%;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.main__button {
    margin: 20% 6px;
    height: 70px;
    width: 70px;
    color: #FFF;
    font-size: 16px;
    background-color: #696969;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition-duration: 0.5s;
  }

  .btns:hover {
    background-color: #000;
  }

  @media all and (max-width: 750px) {
    .btns{
        margin-top: 5%;
        margin-bottom: 0;
    }
}

.main__comment{
    margin-top: 5%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textarea{
    background: #f4eeee;
    border: 2px solid #000;
    width: 288px;
    height: 97px;
}

#comment_button{
    margin-top: 5%;
    width: 100px;
    height: 40px;
    background: rgb(34, 30, 30);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}

.hr {
    margin-top: 5px;
}