*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/**,*:before,*:after{*/
/*    -moz-box-sizing: border-box;*/
/*    -webkit-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/
/*:focus,:active{outline: none;}*/
/*a:focus,a:active{outline: none;}*/

/*nav,footer,header,aside{display: block;}*/

/*html,body{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    font-size: 100%;*/
/*    line-height: 1;*/
/*    font-size: 14px;*/
/*    -ms-text-size-adjust: 100%;*/
/*    -moz-text-size-adjust: 100%;*/
/*    -webkit-text-size-adjust: 100%;*/
/*}*/
/*input,button,textarea{font-family:inherit;}*/

/*input::-ms-clear{display: none;}*/
/*button{cursor: pointer;}*/
/*button::-moz-focus-inner {padding:0;border:0;}*/
/*a, a:visited{text-decoration: none;}*/
/*a:hover{text-decoration: none;}*/
/*ul li{list-style: none;}*/
/*img{vertical-align: top;}*/

/*.bigred{*/
/*    font-size: 20px;*/
/*    color: red;*/
/*}*/

body{
    background: rgba(229, 194, 164, 0.58);
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*min-width: 940px;*/
    /*min-height: 100%;*/
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background: rgba(178, 119, 61, 0.58);
    border-bottom: 2px solid;
    /*min-height: 85px;*/
}

.header__content{
    display: flex;
    align-content: center;
}

.header__logo{
    margin-left: 20px;
    width: 12%;
}

.header__logo img{
    width: 100%;
    height: 100%;
}

.header__name-and-tagline{
    margin-left: 2%;
}

.header__name{
    /*font-size: 16px; !*10*!*/
    font-size: calc(10px + 6 * (100vw / 1775));
}

.header__tagline{
    color:#732b2b;
    /*font-size: 16px; !*12*!*/
    font-size: calc(12px + 4 * (100vw / 1775));
}

.header__links{
    color:#732b2b;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.header__links a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.header__link{
}

.header__link:hover{
    text-decoration: underline;
}

.header__menu{
    display: none;
}

.header__menu-line{
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
}

@media all and (max-width: 1082px) {
    .header__menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 26px;
        top: 26px;
    }
    .header{
        flex-direction: column;
    }
    .header__content{
        /*width: 100%;*/
        /*justify-content: left;*/
    }
    .header__link{
        border-top: solid 2px rgb(38, 36, 36);
        padding: 10px;
    }
    .header__links{
        width: 100%;
        text-align: center;
        display: none;
    }
    .header__links a{
        font-size: 18px;
    }
    .header__link:last-child{
        padding-bottom: 0;
    }
    .active{
        display: block;
    }
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/

    width: 100%;
    flex: 1 1 auto;
    margin: 1% auto 0 auto;
}

.main__authors-select{
    display: flex;
    justify-content: center;
    color: #732b2b;
    /*font-size: 20px;*/
    font-size: calc(13px + 8 * (100vw / 1775));
    margin: 0 auto;
    flex: 1 1 4vh;
}

@media (max-width: 767px) {
    .main__authors-select{
        font-size: calc(13px + (8 + 8 * 0.7) * ((100vw - 320px) / 1775));
    }
    .footer__icon{
        max-width: 30px;
    }
}

@media (max-width: 465px) {
    .header__logo {
        width: 16%;
    }
}

.main__authors-photos{
    display: flex;
    justify-content: center; /*не работает*/

    /*align-items: center;*/
    /*выравнивает весь див с именем по центру, поэтому фотки неровно*/

    align-self: stretch;

    margin-top: 1%;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.main__photo-and-name{
    display: flex;
    flex-direction: column;
    width: 20%;
    /*height: 450px;*/
    /*height: 60vh;*/
    /*margin-bottom: 2%;*/
    padding: 0.5%;
}

@media all and (max-width: 950px) {
    .main__authors-photos{
        flex-direction: row;
        align-items: center;
    }
    .main__photo-and-name{
        margin-top: 20px;
        width: 45%;
    }
    .main__authors-select{
        margin-top: 20px;
    }
}

@media all and (max-width: 590px) {
    .main__authors-photos{
        flex-direction: column;
        align-items: center;
    }
    .main__photo-and-name{
        margin-top: 20px;
        width: 65%;
    }
    .main__authors-select{
        margin-top: 20px;
    }
}


.main__photos{
    padding-bottom: 130%;
    position: relative;
}

/*@media screen and (max-width:900px) {*/
/*    .container { flex-wrap: wrap;  }*/
/*    .item:first-child { flex-basis: 100%; }*/
/*}*/

.main__photos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.main__names{
    margin-top: 1%;
    text-align: center;
    overflow: hidden;
    /*max-width: 1200px;*/
}

.main__names p{
    /*font-size: 25px   !*8*!*/
    font-size: calc(12px + 17 * (100vw / 1775));
}


.footer{
    background-color: rgba(204, 149, 102, 0.58);
    border-top: 2px solid;
    margin-top: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 1%;
}

.footer__social-photos{
    display: flex;
    justify-content: end;
}

.footer__icon{
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;

    /*width: 2.5%;*/
    /*height: 2.5%;*/
    /*max-height: 2.5%;*/
    /*max-width: 2.5%;*/

    /*max-width: 2.5%;*/
    /*min-width: 2%;*/
    /*max-height: 2.5%;*/
}

.footer__social-photos img{
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}